<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Detail</title>
</head>
<body>
<h1 th:text="${movie.title}"></h1>
<p th:text="${movie.description}"></p>

<form th:action="@{/movie/{movieId}/favorite(movieId=${movie.id})}" method="post" th:if="${!isFavorite}">
    <button type="submit">Add to Favorites</button>
</form>

<form th:action="@{/movie/{movieId}/unfavorite(movieId=${movie.id})}" method="post" th:if="${isFavorite}">
    <button type="submit">Remove from Favorites</button>
</form>
</body>
</html>
