<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phim Lẻ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Phim Lẻ</h1>
</header>
<main>
    <div class="movie-list">
        <div th:each="movie : ${singleMovies}">
            <a th:href="@{'/movie/' + ${movie.id} + '/' + ${movie.slug}}">
                <img th:src="${movie.posterUrl}" th:alt="${movie.title}">
                <p th:text="${movie.title}">Tiêu đề phim</p>
            </a>
        </div>
    </div>
</main>
</body>
</html>
